{% extends "base.html" %}

{% block content %}
<style>
    .Heading {
        text-align: center;
        margin: 0 auto;
    }
    .heading h3{
        margin-bottom: 20px;
    }
    .Heading ul{
        list-style: none;
    }
    .Heading a{
        margin-bottom: 20px;
        text-decoration: none;
    }
    .Heading .card{
        margin: 0 auto;
    }
</style>
    <div class="Heading">
        <h3>
            {% if request.user.is_authenticated %}
            Hello {{request.user.username}}
            {% else %}
            Hello Guest!!!
            {% endif %}
        </h3>
        <a href="/create" class="btn btn-primary">Create a new Todo</a>
        <div class="card" style="width: 25rem;">
            <div class="card-header">
                My ToDo List
            </div>
            <ul class="list-group list-group-flush">
                {% for todo in todo_list %} 
                <li class="list-group-item">
                    <a href="/{{ todo.id }}">{{ todo.name }}</a><!--it's due to {{ todo.due_date|date:"d-m-Y" }}-->
                </li>
                {% endfor %}
            </ul>
        </div>
   
    </div>
    
{% endblock %}