{% extends "base.html" %}

{% block content %}
    <!-- {% if request.user.is_authenticated %}
    Hello {{request.user.username}}
    {% else %}
    Hello Guest!!!
    {% endif %} -->
<style>
    .create{
        margin: 0 auto;
        text-align: center;
    }
</style>
<div class="create card"style="width: 25rem;">
    <div class="card-header">
        <h4>Create a new Todo</h4>
    </div>
    
        <form action="" method="POST" class="list-group">
            {% csrf_token %}
            {{ form.as_p}}  
            <button type="submit"class="btn btn-primary">Create</button>


            
        </form>
    
    
    </ul>
</div>
    
{% endblock %}