{% extends "base.html" %}

{% block content %}
    <!-- {% if request.user.is_authenticated %}
    Hello {{request.user.username}}
    {% else %}
    Hello Guest!!!
    {% endif %} -->
<style>
    .update{
        margin: 0 auto;
        text-align: center;
    }
</style>
    <div class="update card"style="width: 25rem;">
        <div class="card-header">
            <h4>Update Todo</h4>
        </div>
        <ul>
        
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p}}  
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        
        
        </ul>
    </div>
    
{% endblock %}